/* popup*/
.popupModal{
  top: 0; left: 0; position: fixed; width: 100%; height: 120%;
  background-color: rgba(0,0,0,0.7); display: none;
}
.popupBoxWrapper{
  width: 700px; margin: 50px auto; text-align: left;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  .popupBoxWrapper{
    width: 320px; margin: 20px auto; text-align: left;
  }
}

.popupBoxContent{
  background-color: rgb(240,240,240); padding: 15px 15px 50px 15px;
}

/* buttons */
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgb(250, 250, 250);
}

.btn-primary{
  background-color: rgb(0, 102, 153);
}

.btn-success{
  background-color: rgb(0, 153, 0);
}

.btn-warning{
  background-color: rgb(255, 153, 51);
}

/* settings*/
.title-label{
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
}

.title-input{
  display: inline-block;
  float: left;
}

/* message*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.msg-container {
  z-index: 1;
}

.container{
  display: none;
}

#title_chart{
  text-align: center;
}


#chart{
  display: inline-block;
}

#chart_area{
  position: absolute;
}

.tick{
  /*display: inline-block;*/
  border-bottom: dashed 1px rgb(76, 73, 73);
  /*background-color: rgb(205,205,205);*/
  position: relative;
  left: 100px;
  bottom: -12px; /*-30px;*/
}

/* Axis */
#y_axis{
  width: 400px;
  /* rotate before setting position as relative */
  transform: rotate(-90deg);
  transform-origin: 100% bottom;
  position: relative;
  left: -350px;
}

.span_y_axis{
  display: inline-block;
  position: relative;
  text-align: right;
  color: rgb(5, 5, 5);
  transform: rotate(90deg);
  /*transform-origin: 100% bottom;*/
  top: 30px; /* move to the right */
  right: 12px;/*-30px; /* move to the top */
}

#y_labels{
  width: : 400px;
  display: inline-block;
  color: rgb(5, 5, 5);
}

.span_y_labels{
  display: inline-block;
  position: relative;
  text-align: right;
  color: rgb(5, 5, 5);
}

#x_axis{
  max-width: 400px;
  text-align: right;
  color: rgb(5, 5, 5);
  position: relative;
  left: 150px;
}

#x_labels{
  position: relative;
  left: 25px;
}

.span_x_labels{
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: right top;
  text-align: right;
}

/* chart */
#bar_chart{
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: 400px;
  /*max-height: 400px;*/
  /*background-color: rgb(205,205,205);*/
  border-left: solid 2px rgb(5, 5, 5);
  border-bottom: solid 2px rgb(5, 5, 5);
  left: 100px;
  position: relative;
}

/* bar */
.bar{
  width: 10%;
  display: inline-block;
  margin-left:5%;
  margin-right:5%;
  display: inline-block;
  position: relative;
  /*bottom: -310px;*/
}

.data{
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}

b{
  position: relative;
}
/* others */

.hr.style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

body{
  background-color: rgb(240,240,240);
}
